{{ define "header" }}
<!DOCTYPE html>
<html>
    <head>
        <style>
html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.center {
    margin: auto;
}

#container {
    padding: 10px;
    width: 700px;
    border: 1px solid lightgray
}

hr {
background-color: lightgray;
border: none;
height: 1px;
}

#post_container {
    padding: 10px;
    border: 1px solid lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}
        </style>
        <script src="/static/global.js"></script>
        <title>Micro - {{ .title }}</title>
    </head>

    <body>
        <div class="center" id="container">
            <h1>{{ .title }}</h1>
            <label id="username_text">Not Logged In</label>
            <button id="signin_signout" onclick="signInSignOut()">Sign In</button>
            <hr>
            <div id="content">
                <main>
{{ end }}

{{ define "footer" }}
</main>
         </div>
        </div>
    </body>
</html>
{{ end }}