{{ template "header" . }}
<script>
    var post_skip = 0
    var post_limit = 10

    function next() {
        post_skip += post_limit
        getPosts(post_limit, post_skip)
    }
    function prev() {
        if (post_skip-post_limit < 0) {
            return
        } else {
            post_skip -= post_limit
            getPosts(post_limit, post_skip)
        }
    }
    async function addPost(post) {
        const el_posts = document.getElementById("posts")
        let x = await getUserFromUserId(post.Uid, true)
        const template = document.querySelector("#post_template")
        const clone = template.content.cloneNode(true)
        clone.querySelector("#post_username").innerHTML = x.Username
        clone.querySelector("#post_body").innerHTML = post.Content
        clone.querySelector("#post_timestamp").innerHTML = post.Timestamp
        el_posts.appendChild(clone)
    }

    function getPosts(limit, skip) {
        const el_posts = document.getElementById("posts")

        apiPost("/api/posts/recent", {
            "sid": readCookie("session"),
            "limit": limit,
            "skip": skip,
        }).then((res) => {
            if (res.status != 200) {
                el_posts.innerHTML = "failed to load recent posts"
            } else {
                res.json().then(async (j) => {
                    if (j.length == 0) {
                        return
                    }
                    el_posts.innerHTML = "" // clear children
                    for (i in j) {
                        let post = j[i]
                        console.log(post)
                        await addPost(post)
                    }
                })
            }
        })
    }
 
    function onTemplateLoad(user) {
        const el_posts = document.getElementById("posts")
        getPosts(10, 0)
    }

    function createPost() {
        const el_postarea = document.getElementById("postarea")
        const el_poststatus = document.getElementById("poststatus")

        apiPost("/api/posts/new", {
            "sid": readCookie("session"),
            "content": el_postarea.value
        }).then((res) => {
            if (res.status != 200) {
                el_poststatus.innerHTML = "Post Failed"
            } else {
                el_poststatus.innerHTML = "Posted"
                el_postarea.value = ""
            }
        })
    }
</script>
<style>
    #postarea {
        resize: none;
        width: 100%;
        height: 70px;
        margin: 0;
        padding: 0;
    }
</style>
<body>
    
    <pre id="poststatus"></pre>
    <div>
        <textarea id="postarea" placeholder="type here"></textarea>
        <button onclick="createPost()", id="postbutton">Post</button>
    </div>
    <hr>
    <h2>Recent Posts</h2>
    <a onclick="prev()" href="javascript:void(0);" id="button_prev">Prev</a>
    <a onclick="next()" href="javascript:void(0);" id="button_next">Next</a>
    <div id="posts"></div>
    <a onclick="prev()" href="javascript:void(0);" id="button_prev">Prev</a>
    <a onclick="next()" href="javascript:void(0);" id="button_next">Next</a>
</body>
<template id="post_template">
    <div id="post_container">
        <pre id="post_username"></pre>
        <pre id="post_body"></pre>
        <pre id="post_timestamp"></pre>
    </div>
</template>
{{ template "footer" . }}