{{ template "header" . }}
<script>
    function doLogin() {
        let el_username = document.getElementById("username")
        let el_password = document.getElementById("password")
        let el_loginButton = document.getElementById("loginButton")
        let el_loginStatus = document.getElementById("loginStatus")

        apiPost("/api/auth", {
            "username": el_username.value,
            "password": el_password.value
        }).then((res) => {
            if (res.status == 200) {
                res.json().then((j) => {
                    eraseCookie("session")
                    createCookie("session", j.Sid, 1)
                    window.location.href = "/"
                })
            } else {
                el_loginStatus.innerHTML = "Incorrect Username or Password"
            }
        })
    }
</script>
<div id="login">
    <input type="text" id="username" placeholder="username">
    <input type="password" id="password" placeholder="password">
    <button id="loginButton" onclick="doLogin()">Login</button>
    <br>
    <p id="loginStatus" style="color: red;"></p>
</div>
{{ template "footer" . }}